---
Language: Cpp
BasedOnStyle: LLVM

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Never
  AfterClass:      true
  AfterFunction:   true
  AfterStruct:     true
  AfterUnion:      true
  AfterNamespace:  true

IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
IndentAccessModifiers: false

ReflowComments: false
